.componente{
  width: 100%;
  height: 20vh;
  background: red;
}
.compo1{
width: 100%;
height: 100vh;
background: black;
}

.compo2{
  width: 50%;
  height: 100vh;
  background: blue;

}

.imagen{
  width: 30%;
}